

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">













                <div class="card">
                  <div class="card-header card-header-icon card-header-rose">
                    <div class="card-icon">
                      <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title ">Locomotive Detail</h4>
                  </div>
                    <div class="card-body">



                                    <div class="card-body ">
                                      <ul class="nav nav-pills nav-pills-warning" role="tablist">
                                        <li class="nav-item">
                                          <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                                            PTC Status
                                          </a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                                            System Status
                                          </a>
                                        </li>

                                      </ul>
                                      <div class="tab-content tab-space">
                                        <div class="tab-pane active" id="link1">
                                              <img src="/assets/img/loco-schematic.png">
                                        </div>
                                        <div class="tab-pane" id="link2">
                                          Gauges and map here
                                        </div>
                                      </div>
                                    </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
