<div class="main-content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-6">
          <div class="card card-chart">
            <div class="card-header card-header-icon card-header-danger">
              <div class="card-icon">
                <i class="material-icons">cell_wifi</i>
              </div>
              <h4 class="card-title">Comms</h4>
            </div>
            <div class="card-body">
              <div id="chartComms" class="ct-chart"></div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-12">
                  <h6 class="card-category">Legend</h6>
                </div>
                <div class="col-md-12">
                  <i class="fa fa-circle text-info"></i> Online
                  <i class="fa fa-circle text-warning"></i> Offline (2 days)
                  <i class="fa fa-circle text-danger"></i> Offline (7 days)
                  <i class="fa fa-circle text-success"></i> No Data
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-chart">
            <div class="card-header card-header-icon card-header-success">
              <div class="card-icon">
                <i class="material-icons">assessment</i>
              </div>
              <h4 class="card-title">PTC</h4>
            </div>
            <div class="card-body">
              <div id="chartPtc" class="ct-chart"></div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-12">
                  <h6 class="card-category">Legend</h6>
                </div>
                <div class="col-md-12">
                  <i class="fa fa-circle text-info"></i> Fully Equipped
                  <i class="fa fa-circle text-warning"></i> Hardware Only
                  <i class="fa fa-circle text-danger"></i> Incomplete
                  <i class="fa fa-circle text-success"></i> No Data
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <div class="card card-chart">
            <div class="card-header card-header-icon card-header-info">
              <div class="card-icon">
                <i class="material-icons">photo_camera</i>
              </div>
              <h4 class="card-title">Cameras</h4>
            </div>
            <div class="card-body">
              <div id="chartCameras" class="ct-chart"></div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-12">
                  <h6 class="card-category">Legend</h6>
                </div>
                <div class="col-md-12">
                  <i class="fa fa-circle text-info"></i> Equipped
                  <i class="fa fa-circle text-warning"></i> Partial
                  <i class="fa fa-circle text-danger"></i> Unequipped
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-chart">
            <div class="card-header card-header-icon card-header-warning">
              <div class="card-icon">
                <i class="material-icons">place</i>
              </div>
              <h4 class="card-title">Location</h4>
            </div>
            <div class="card-body">
              <div id="chartLocation" class="ct-chart"></div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-12">
                  <h6 class="card-category">Legend</h6>
                </div>
                <div class="col-md-12">
                  <i class="fa fa-circle text-info"></i> In-Shop
                  <i class="fa fa-circle text-warning"></i> Terminal
                  <i class="fa fa-circle text-danger"></i> CP Track
                  <i class="fa fa-circle text-success"></i> Foreign Track
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>
